input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

spawn-at-startup [
    "alacritty"
]

binds {
    Mod+Return { spawn "alacritty"; }
    Mod+D { spawn "fuzzzel"; }

    Mod+Q { close-window; }
    Mod+Shift+E { quit; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }

    Mod+F { toggle-fullscreen; }
}
