spawn-at-startup "swaybg" "-i" "/home/saven/Pictures/wallpapers/ferns.jpg" "-m" "fill"
spawn-at-startup "waybar"

input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
    }

    touchpad {
        tap
    }
}

layout {
    always-center-single-column

    border {
      active-color "#A7C080"
      inactive-color "#1E2326"
    }

    focus-ring {
      off
    }

    preset-column-widths {
      proportion 0.5
      proportion 1.0
    }
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    open-maximized true
}

hotkey-overlay {
    skip-at-startup
}

binds {
    Mod+Return { spawn "alacritty"; }
    Alt+Space { spawn-sh "rofi -show drun"; }

    Mod+Shift+P { spawn-sh "hyprshot -m region --freeze"; }

    Mod+Q { close-window; }
    Mod+Shift+E { spawn-sh "systemctl poweroff"; }
    Mod+Shift+Q { spawn-sh "/home/saven/nixos-config/dotfiles/scripts/power-menu-wayland.sh"; }
    Mod+C { spawn-sh "/home/saven/nixos-config/dotfiles/scripts/bluetooth-wayland.sh"; }
    Mod+W { spawn-sh "/home/saven/nixos-config/dotfiles/scripts/wifi-wayland.sh"; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }

    Mod+Ctrl+H  { focus-monitor-left; }
    Mod+Ctrl+L { focus-monitor-right; }
    Mod+Ctrl+K    { focus-monitor-up; }
    Mod+Ctrl+J  { focus-monitor-down; }

    Mod+Ctrl+Shift+Left  { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+Right { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+Up    { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+Down  { move-column-to-monitor-down; }

    Mod+V {spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    Mod+Shift+V {spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }

    Mod+B {spawn-sh "brightnessctl set +10%"; }
    Mod+Shift+B {spawn-sh "brightnessctl set 10%-"; }

    Mod+S { switch-preset-column-width; }
}
